In [4]:
21 * 2

42

In [5]:
print ("Ola mundo !")

Ola mundo !

In [6]:
x = 11
print(x)
print(x + 9)

y = x + 11
print (y)

print(z)

11
20
22

NameError: name 'z' is not defined

In [1]:
list ( range (5) )

[0, 1, 2, 3, 4]

In [3]:
for i in range(5):
    print(i + 1)
    pass
print ("fim")

1
2
3
4
5
fim

In [8]:
for i in range(111):
    print(i, " * ", 5, " = ", i*5)
    pass
print("Tabuada do 5")

0  *  5  =  0
1  *  5  =  5
2  *  5  =  10
3  *  5  =  15
4  *  5  =  20
5  *  5  =  25
6  *  5  =  30
7  *  5  =  35
8  *  5  =  40
9  *  5  =  45
10  *  5  =  50
11  *  5  =  55
12  *  5  =  60
13  *  5  =  65
14  *  5  =  70
15  *  5  =  75
16  *  5  =  80
17  *  5  =  85
18  *  5  =  90
19  *  5  =  95
20  *  5  =  100
21  *  5  =  105
22  *  5  =  110
23  *  5  =  115
24  *  5  =  120
25  *  5  =  125
26  *  5  =  130
27  *  5  =  135
28  *  5  =  140
29  *  5  =  145
30  *  5  =  150
31  *  5  =  155
32  *  5  =  160
33  *  5  =  165
34  *  5  =  170
35  *  5  =  175
36  *  5  =  180
37  *  5  =  185
38  *  5  =  190
39  *  5  =  195
40  *  5  =  200
41  *  5  =  205
42  *  5  =  210
43  *  5  =  215
44  *  5  =  220
45  *  5  =  225
46  *  5  =  230
47  *  5  =  235
48  *  5  =  240
49  *  5  =  245
50  *  5  =  250
51  *  5  =  255
52  *  5  =  260
53  *  5  =  265
54  *  5  =  270
55  *  5  =  275
56  *  5  =  280
57  *  5  =  285
58  *  5  =  290
59  *  5  =  295
60  *  5  =  300
61  *  5  =  305
62  *  5  =  310
63  *  5  =  315
64  *  5  =  320
65  *  5  =  325
66  *  5  =  330
67  *  5  =  335
68  *  5  =  340
69  *  5  =  345
70  *  5  =  350
71  *  5  =  355
72  *  5  =  360
73  *  5  =  365
74  *  5  =  370
75  *  5  =  375
76  *  5  =  380
77  *  5  =  385
78  *  5  =  390
79  *  5  =  395
80  *  5  =  400
81  *  5  =  405
82  *  5  =  410
83  *  5  =  415
84  *  5  =  420
85  *  5  =  425
86  *  5  =  430
87  *  5  =  435
88  *  5  =  440
89  *  5  =  445
90  *  5  =  450
91  *  5  =  455
92  *  5  =  460
93  *  5  =  465
94  *  5  =  470
95  *  5  =  475
96  *  5  =  480
97  *  5  =  485
98  *  5  =  490
99  *  5  =  495
100  *  5  =  500
101  *  5  =  505
102  *  5  =  510
103  *  5  =  515
104  *  5  =  520
105  *  5  =  525
106  *  5  =  530
107  *  5  =  535
108  *  5  =  540
109  *  5  =  545
110  *  5  =  550
Tabuada do 5

In [9]:
#A linha a seguir imprime 42 ao quadrado
print(42**2)]

1764

In [13]:
#Functions
#Função que recebe dois números inteiros como entrada
#E retorna o quadrado da soma
def quadSoma(x, y):
    print("Primeiro número: ", x)
    print("Segundo número: ", y)
    z = (x + y)**2
    print("Quadrado da soma de x e y: ", z)
    return z

In [16]:
quadSoma(2,2)

Primeiro número:  2
Segundo número:  2
Quadrado da soma de x e y:  16

16

In [18]:
quadSoma(3,5)

Primeiro número:  3
Segundo número:  5
Quadrado da soma de x e y:  64

64